body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

* {
    box-sizing: border-box;
}

h1 {
    color: #333;
}

p {
    color: #666;
    width: 60%;
    line-height: 30px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
}